{% extends 'laxout_app/main.html' %}
{% load crispy_forms_tags %}
{% block title %}
Personal Chat
{% endblock title %}
{% block praxisname %}
Wählen Sie die Tests, die Sie machen wollen
{% endblock praxisname %}
{% block content %}

<style>
    .add-button,
    .delete-button {
        border: none;
        border-radius: 20px;
        height: 30px;
        width: auto;
        color: white;
        background-color: rgb(44, 67, 81);
        margin-left: 10px;
        /* Reduziert auf 10px für Konsistenz */
        cursor: pointer;
        display: inline-flex;
        align-items: center;
        padding: 0 10px;
        font-size: 14px;
    }

    .delete-button {
        background-color: rgb(188, 55, 55);
        /* Hintergrundfarbe für Entfernen-Button */
    }

    .add-button:hover,
    .delete-button:hover {
        background-color: rgb(34, 52, 64);
        /* Hintergrundfarbe bei Hover-Effekt */
    }

    .submitt_button {
        border: none;
        border-radius: 20px;
        height: 70px;
        width: auto;
        color: white;
        background-color: rgb(44, 67, 81);
        margin-left: 50px;
    }

    .btn-group.dropdown .dropdown-menu {
        font-size: 20px;
        width: auto;
        /* Automatische Breite, um sich an den Inhalt anzupassen */
    }

    .dropdown-menu .dropdown-item {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
    }

    .dropdown-item .bi-plus-circle {
        margin-left: 10px;
    }

    .plus-button {
        background-color: transparent;
        border: none;
        padding: 0;
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
    }

    .plus-button div {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
    }

    .container {
        width: 100%;
    }

    .tree {
        font-family: Arial, sans-serif;
        line-height: 1.6;
        padding: 20px;
    }

    .tree ul {
        list-style-type: none;
        padding-left: 20px;
        padding-right: 20px;
        /* border: solid rgb(44, 67, 81) 2px; */
        border-radius: 15px;
        margin-bottom: 10px;
    }

    .tree .caret {
        cursor: pointer;
        user-select: none;
        font-size: 28px;
        font-weight: bold;
        display: inline-flex;
        align-items: center;
        transition: transform 0.3s ease;
    }

    .tree .caret::before {
        content: "▶";
        margin-right: 5px;
        transition: transform 0.3s ease;
    }

    .tree .caret-down::before {
        transform: rotate(90deg);
    }

    .tree .nested {
        display: none;
        padding-left: 20px;
    }

    .tree .active {
        display: block;
    }

    .tree li {
        margin: 5px 0;
    }

    .tree .nested li {
        font-size: 16px;
    }
</style>


<div style="display: flex; flex-direction: row;">
    <div style="display: flex; flex-direction: column;">
        <div class="user-item"
            style="height: 450px; width: auto; min-width: 780px; justify-content: start; align-items: start; display: flex;flex-direction: column; margin-left: 50px;">
            <h2 style="margin: 20px;">
                Bereits hinzugefügt:
            </h2>
            <div id="column-already-added"
                style="display: flex; flex-direction: column; margin: 20px; overflow-y: scroll; font-size: 20px;">
                {%for item in already_added%}
                <h4>
                    {{item}}
                </h4>
                {%endfor%}
            </div>
        </div>
        <div style="height: 40px;"></div>
        <button type="button" class="submitt_button" onclick="submit()">
            <h4 style="margin-left: 20px; margin-right: 20px;">
                Befunden Starten
            </h4>
        </button>
    </div>
    <div class="tree">
        <ul>
            <li><span class="caret">Redflag / Flaggenscreening (Test)</span></li>
            <li><span class="caret">Anamnese</span>
                <ul class="nested">
                    <li>Fragenevaluation nach ICF-Kategorien <button class="add-button"
                            onclick="addItem('Fragenevaluation nach ICF-Kategorien','fragenevaluation_icf')">Hinzufügen</button>
                    </li>
                    <li>Fragenevaluationen nach dem bio-psycho-sozialen Krankheitsmodell <button class="add-button"
                            onclick="addItem('Fragenevaluationen nach dem bio-psycho-sozialen Krankheitsmodell','fragenevaluation_bio_psycho_sozial_krankheitsmodell')">Hinzufügen</button>
                    </li>
                    <li>Fragenevaluationen nach den 7-W Fragen <button class="add-button"
                            onclick="addItem('Fragenevaluationen nach den 7-W Fragen','w_fragen')">Hinzufügen</button>
                    </li>
                    <li>Nebenerkrankungen + Medikamente <button class="add-button"
                            onclick="addItem('Nebenerkrankungen + Medikamente','nebenerkrankungen_medikamente')">Hinzufügen</button>
                    </li>
                    <li>Stand der ReHa-Phase <button class="add-button"
                            onclick="addItem('Stand der ReHa-Phase','stand_reha_phase')">Hinzufügen</button></li>
                    <li>Historia Morbis <button class="add-button"
                            onclick="addItem('Historia Morbis','historia_morbis')">Hinzufügen</button></li>
                </ul>
            </li>
            <li><span class="caret">Schmerzanalyse</span>
                <ul class="nested">
                    <li>NRS – Numeric Rating Scale <button class="add-button"
                            onclick="addItem('NRS – Numeric Rating Scale','nrs_numeric_rating_scale')">Hinzufügen</button>
                    </li>
                </ul>
            </li>
            <li><span class="caret">Inspektion + Palpation (Test)</span></li>
            <li><span class="caret">Orthopädie / Chirurgie</span>
                <ul class="nested">
                    <li><span class="caret">LWS(Test)</span></li>
                    <li><span class="caret">Schulter</span>
                        <ul class="nested">
                            <li>Red Flag Screening Schulter <button class="add-button"
                                    onclick="addItem('Red Flag Screening Schulter', 'red_flag_screening_schulter')">Hinzufügen</button>
                            </li>
                            <li>Überblick Schulter / KEEP IT SIMPLE <button class="add-button"
                                    onclick="addItem('Überblick Schulter / KEEP IT SIMPLE', 'ueberblick_schulter')">Hinzufügen</button>
                            </li>
                            <li><span class="caret">Beweglichkeit</span>
                                <ul class="nested">
                                    <li>Aktive Beweglichkeit <button class="add-button"
                                            onclick="addItem('Aktive Beweglichkeit Schulter', 'aktive_beweglichkeit_schulter')">Hinzufügen</button>
                                    </li>
                                    <li>Passive Beweglichkeit <button class="add-button"
                                            onclick="addItem('Passive Beweglichkeit Schulter', 'passive_beweglichkeit_schulter')">Hinzufügen</button>
                                    </li>
                                    <li>Beweglichkeitsmessung <button class="add-button"
                                            onclick="addItem('Beweglichkeitsmessung Schulter', 'beweglichkeitsmessung_schulter')">Hinzufügen</button>
                                    </li>
                                    <li>Copenhagen Shoulder Abduction Rating (C-SAR) <button class="add-button"
                                            onclick="addItem('Copenhagen Shoulder Abduction Rating (C-SAR)', 'c_sar')">Hinzufügen</button>
                                    </li>
                                    <li>Posteriore Schultersteifheit <button class="add-button"
                                            onclick="addItem('Posteriore Schultersteifheit', 'posteriore_schultersteifheit')">Hinzufügen</button>
                                    </li>
                                </ul>
                            </li>
                            <li><span class="caret">Kraft</span>
                                <ul class="nested">
                                    <li>Isometrischer Krafttest <button class="add-button"
                                            onclick="addItem('Isometrischer Krafttest Schulter', 'isometrischer_krafttest_schulter')">Hinzufügen</button>
                                    </li>
                                    <li>Muskelfunktionsprüfung <button class="add-button"
                                            onclick="addItem('Muskelfunktionsprüfung Schulter', 'muskelfunktionspruefung_schulter')">Hinzufügen</button>
                                    </li>
                                </ul>
                            </li>
                            <li><span class="caret">Stabilität</span>
                                <ul class="nested">
                                    <li>FEDS-Kalassifikation <button class="add-button"
                                            onclick="addItem('FEDS-Kalassifikation', 'feds_kalassifikation')">Hinzufügen</button>
                                    </li>
                                    <li><span class="caret">Vordere Schulterinstabilitätstests</span>
                                        <ul class="nested">
                                            <li>Anterior Aprehension Test <button class="add-button"
                                                    onclick="addItem('Anterior Aprehension Test', 'anterior_aprehension_test')">Hinzufügen</button>
                                            </li>
                                            <li>Relocation Test nach Jobe <button class="add-button"
                                                    onclick="addItem('Relocation Test nach Jobe', 'relocation_test_nach_jobe')">Hinzufügen</button>
                                            </li>
                                            <li>Surprise + Release Test <button class="add-button"
                                                    onclick="addItem('Surprise + Release Test', 'surprise_release_test')">Hinzufügen</button>
                                            </li>
                                            <li>Anterior Drawer Test <button class="add-button"
                                                    onclick="addItem('Anterior Drawer Test', 'anterior_drawer_test')">Hinzufügen</button>
                                            </li>
                                        </ul>
                                    </li>
                                    <li><span class="caret">Inferiore Schulterinstabilität</span>
                                        <ul class="nested">
                                            <li>Sulcustest <button class="add-button"
                                                    onclick="addItem('Sulcustest', 'sulcustest')">Hinzufügen</button>
                                            </li>
                                        </ul>
                                    </li>
                                    <li><span class="caret">Hintere Schulterinstabilitätstests</span>
                                        <ul class="nested">
                                            <li>Posterior Aprehension Test <button class="add-button"
                                                    onclick="addItem('Posterior Aprehension Test', 'posterior_aprehension_test')">Hinzufügen</button>
                                            </li>
                                            <li>Jerk-Test <button class="add-button"
                                                    onclick="addItem('Jerk-Test', 'jerk_test')">Hinzufügen</button></li>
                                            <li>Kim-Test <button class="add-button"
                                                    onclick="addItem('Kim-Test', 'kim_test')">Hinzufügen</button></li>
                                            <li>Posterior Drawer Test <button class="add-button"
                                                    onclick="addItem('Posterior Drawer Test', 'posterior_drawer_test')">Hinzufügen</button>
                                            </li>
                                            <li>Load and Shift Test <button class="add-button"
                                                    onclick="addItem('Load and Shift Test', 'load_and_shift_test')">Hinzufügen</button>
                                            </li>
                                            <li>Sulcus Zeichen <button class="add-button"
                                                    onclick="addItem('Sulcus Zeichen', 'sulcus_zeichen')">Hinzufügen</button>
                                            </li>
                                            <li>Coudance Walch Test <button class="add-button"
                                                    onclick="addItem('Coudance Walch Test', 'coudance_walch_test')">Hinzufügen</button>
                                            </li>
                                            <li>Gargey Test <button class="add-button"
                                                    onclick="addItem('Gargey Test', 'gargey_test')">Hinzufügen</button>
                                            </li>
                                        </ul>
                                    </li>
                                </ul>
                            </li>
                            <li>Nervenmobilitätstestungen -> BPNT <button class="add-button"
                                    onclick="addItem('Nervenmobilitätstestungen -> BPNT', 'nervenmobilitaetstestungen_bpnt')">Hinzufügen</button>
                            </li>
                            <li>Schnell Anamnese Frozen Shoulder <button class="add-button"
                                    onclick="addItem('Schnell Anamnese Frozen Shoulder', 'schnell_anamnese_frozen_shoulder')">Hinzufügen</button>
                            </li>
                            <li><span class="caret">TOS Testungen</span>
                                <ul class="nested">
                                    <li>Adsons Test <button class="add-button"
                                            onclick="addItem('Adsons Test', 'adsons_test')">Hinzufügen</button></li>
                                    <li>Wrights Test (Hyperabduktion) <button class="add-button"
                                            onclick="addItem('Wrights Test (Hyperabduktion)', 'wrights_test')">Hinzufügen</button>
                                    </li>
                                    <li>Eden’s Test (Costo clavikulärer Druck) <button class="add-button"
                                            onclick="addItem('Eden’s Test (Costo clavikulärer Druck)', 'edens_test')">Hinzufügen</button>
                                    </li>
                                    <li>Elevated Arm Stress Test (EAST) <button class="add-button"
                                            onclick="addItem('Elevated Arm Stress Test (EAST)', 'east_test')">Hinzufügen</button>
                                    </li>
                                    <li>Cyrax Release Test <button class="add-button"
                                            onclick="addItem('Cyrax Release Test', 'cyrax_release_test')">Hinzufügen</button>
                                    </li>
                                    <li>Morley Compression Test <button class="add-button"
                                            onclick="addItem('Morley Compression Test', 'morley_compression_test')">Hinzufügen</button>
                                    </li>
                                </ul>
                            </li>
                            <li>Irritierbarkeit der Schulter / Anlehnung STAR Schulter Diagnose <button
                                    class="add-button"
                                    onclick="addItem('Irritierbarkeit der Schulter / Anlehnung STAR Schulter Diagnose', 'irritierbarkeit_schulter_star')">Hinzufügen</button>
                            </li>
                            <li>Alltagsfunktionen <button class="add-button"
                                    onclick="addItem('Alltagsfunktionen Schulter', 'alltagsfunktionen_schulter')">Hinzufügen</button></li>
                            <li>Umfangsmessung Arm <button class="add-button"
                                    onclick="addItem('Umfangsmessung Arm', 'umfangsmessung_arm')">Hinzufügen</button>
                            </li>
                            <li><span class="caret">Skapulo-thorakale Dyskinese</span>
                                <ul class="nested">
                                    <li>Scapula-Assistenstest (SAT) <button class="add-button"
                                            onclick="addItem('Scapula-Assistenstest (SAT)', 'scapula_assistenstest_sat')">Hinzufügen</button>
                                    </li>
                                    <li>Lateral Scapula Slide Test <button class="add-button"
                                            onclick="addItem('Lateral Scapula Slide Test', 'lateral_scapula_slide_test')">Hinzufügen</button>
                                    </li>
                                    <li>Scapula Retraction Test (SRT) <button class="add-button"
                                            onclick="addItem('Scapula Retraction Test (SRT)', 'scapula_retraction_test_srt')">Hinzufügen</button>
                                    </li>
                                    <li>Lateraler Scapula Slide Test <button class="add-button"
                                            onclick="addItem('Lateraler Scapula Slide Test', 'lateraler_scapula_slide_test')">Hinzufügen</button>
                                    </li>
                                </ul>
                            </li>
                            <li><span class="caret">Rotatorenmanschette / Impingement Tests</span>
                                <ul class="nested">
                                    <li>Jobe Test <button class="add-button" onclick="addItem('Jobe Test', 'jobe_test')">Hinzufügen</button></li>
                                    <li>Null Grad Adduktionstest <button class="add-button" onclick="addItem('Null Grad Adduktionstest', 'null_grad_adduktionstest')">Hinzufügen</button></li>
                                    <li>Drop Arm Zeichen <button class="add-button" onclick="addItem('Drop Arm Zeichen', 'drop_arm_zeichen')">Hinzufügen</button></li>
                                    <li>Lift Off Test <button class="add-button" onclick="addItem('Lift Off Test', 'lift_off_test')">Hinzufügen</button></li>
                                    <li>Belly Press / Belly-Off Zeichen <button class="add-button" onclick="addItem('Belly Press / Belly-Off Zeichen', 'belly_press_belly_off_zeichen')">Hinzufügen</button></li>
                                    <li>Bear Hug Test <button class="add-button" onclick="addItem('Bear Hug Test', 'bear_hug_test')">Hinzufügen</button></li>
                                    <li>Null Grad Außenrotationstest <button class="add-button" onclick="addItem('Null Grad Außenrotationstest', 'null_grad_aussenrotationstest')">Hinzufügen</button></li>
                                    <li>Painful Arc <button class="add-button" onclick="addItem('Painful Arc', 'painful_arc')">Hinzufügen</button></li>
                                    <li>Hawkins Kennedy Test <button class="add-button" onclick="addItem('Hawkins Kennedy Test', 'hawkins_kennedy_test')">Hinzufügen</button></li>
                                    <li>Neer Test <button class="add-button" onclick="addItem('Neer Test', 'neer_test')">Hinzufügen</button></li>
                                </ul>
                            </li>
                            <li><span class="caret">Lange Bicepssehne</span>
                                <ul class="nested">
                                    <li>Unspezifischer Bicepssehenen Test <button class="add-button" onclick="addItem('Unspezifischer Bicepssehenen Test', 'unspezifischer_bicepssehenen_test')">Hinzufügen</button></li>
                                    <li>Yergason <button class="add-button" onclick="addItem('Yergason', 'yergason')">Hinzufügen</button></li>
                                    <li>Speedys Test <button class="add-button" onclick="addItem('Speedys Test', 'speedys_test')">Hinzufügen</button></li>
                                </ul>
                            </li>
                            <li><span class="caret">SLAP-Läsion</span>
                                <ul class="nested">
                                    <li>O Briens Test <button class="add-button" onclick="addItem('O Briens Test', 'o_briens_test')">Hinzufügen</button></li>
                                    <li>Biceps Load Test <button class="add-button" onclick="addItem('Biceps Load Test', 'biceps_load_test')">Hinzufügen</button></li>
                                    <li>Supine Flexion Resitance Test <button class="add-button" onclick="addItem('Supine Flexion Resitance Test', 'supine_flexion_resitance_test')">Hinzufügen</button></li>
                                    <li>Crank Test <button class="add-button" onclick="addItem('Crank Test', 'crank_test')">Hinzufügen</button></li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                    <li><span class="caret">Knie</span>
                        <ul class="nested">
                            <li>Alltagsfunktionen <button class="add-button"
                                    onclick="addItem('Alltagsfunktionen Knie','alltagsfunktionen')">Hinzufügen</button></li>
                            <li>Beinlängenmessung <button class="add-button"
                                    onclick="addItem('Beinlängenmessung','beinlaengenmessung')">Hinzufügen</button></li>
                            <li><span class="caret">Beweglichkeit</span>
                                <ul class="nested">
                                    <li>Aktive Beweglichkeit <button class="add-button"
                                            onclick="addItem('Aktive Beweglichkeit Knie','aktive_beweglichkeit')">Hinzufügen</button>
                                    </li>
                                    <li>Passive Beweglichkeit <button class="add-button"
                                            onclick="addItem('Passive Beweglichkeit Knie','passive_beweglichkeit')">Hinzufügen</button>
                                    </li>
                                    <li>Beweglichkeitsmessung <button class="add-button"
                                            onclick="addItem('Beweglichkeitsmessung Knie','beweglichkeitsmessung')">Hinzufügen</button>
                                    </li>
                                </ul>
                            </li>
                            <li><span class="caret">Kraft</span>
                                <ul class="nested">
                                    <li>Isometrischer Krafttest <button class="add-button"
                                            onclick="addItem('Isometrischer Krafttest Knie','isometrischer_krafttest')">Hinzufügen</button>
                                    </li>
                                    <li>Muskelfunktionsprüfung <button class="add-button"
                                            onclick="addItem('Muskelfunktionsprüfung Knie','muskelfunktionspruefung')">Hinzufügen</button>
                                    </li>
                                </ul>
                            </li>
                            <li><span class="caret">Stabilität</span>
                                <ul class="nested">
                                    <li>Einbeinstand 60 Sekunden <button class="add-button"
                                            onclick="addItem('Einbeinstand 60 Sekunden','einbeinstand_60_sekunden')">Hinzufügen</button>
                                    </li>
                                    <li>Einbeinstand 30 Sekunden geschlossene Augen <button class="add-button"
                                            onclick="addItem('Einbeinstand 30 Sekunden geschlossene Augen','einbeinstand_30_sekunden_geschlossene_augen')">Hinzufügen</button>
                                    </li>
                                </ul>
                            </li>
                            <li><span class="caret">Muskeldehntest</span>
                                <ul class="nested">
                                    <li>Quadriceps-Dehnungstest <button class="add-button"
                                            onclick="addItem('Quadriceps-Dehnungstest','quadriceps_dehnungstest')">Hinzufügen</button>
                                    </li>
                                    <li>M. Rectus Dehnungstest <button class="add-button"
                                            onclick="addItem('M. Rectus Dehnungstest','m_rectus_dehnungstest')">Hinzufügen</button>
                                    </li>
                                    <li>Hamstringtest <button class="add-button"
                                            onclick="addItem('Hamstringtest','hamstringtest')">Hinzufügen</button></li>
                                </ul>
                            </li>
                            <li><span class="caret">Kniegelenksschwellung</span>
                                <ul class="nested">
                                    <li>Umfangsmessung <button class="add-button"
                                            onclick="addItem('Umfangsmessung Knie','umfangsmessung')">Hinzufügen</button>
                                    </li>
                                    <li>Tanzende Patella <button class="add-button"
                                            onclick="addItem('Tanzende Patella','tanzende_patella')">Hinzufügen</button>
                                    </li>
                                    <li>Mini-Erguss Test <button class="add-button"
                                            onclick="addItem('Mini-Erguss Test','mini_erguss_test')">Hinzufügen</button>
                                    </li>
                                    <li>Brush-Test (Test) <button class="add-button"
                                            onclick="addItem('Brush-Test')">Hinzufügen</button></li>
                                </ul>
                            </li>
                            <li><span class="caret">Patella-Testungen</span>
                                <ul class="nested">
                                    <li>Glide-Test <button class="add-button"
                                            onclick="addItem('Glide-Test','glide_test')">Hinzufügen</button></li>
                                    <li>Tilt-Test <button class="add-button"
                                            onclick="addItem('Tilt-Test','tilt_test')">Hinzufügen</button></li>
                                    <li>Aprehension-Test <button class="add-button"
                                            onclick="addItem('Aprehension-Test','aprehension_test')">Hinzufügen</button>
                                    </li>
                                    <li>Zohlen-Zeichen <button class="add-button"
                                            onclick="addItem('Zohlen-Zeichen','zohlen_zeichen')">Hinzufügen</button>
                                    </li>
                                    <li>Facettendruckschmerztest <button class="add-button"
                                            onclick="addItem('Facettendruckschmerztest','facettendruckschmerztest')">Hinzufügen</button>
                                    </li>
                                    <li>Meniskus-Testungen (Test)<button class="add-button"
                                            onclick="addItem('Meniskus-Testungen')">Hinzufügen</button></li>
                                </ul>
                            </li>
                            <li><span class="caret">Meniskus-Testungen</span>
                                <ul class="nested">
                                    <li>Steinmann 1 <button class="add-button"
                                            onclick="addItem('Steinmann 1','steinmann1')">Hinzufügen</button></li>
                                    <li>Steinmann 3 <button class="add-button"
                                            onclick="addItem('Steinmann 3','steinmann3')">Hinzufügen</button></li>
                                    <li>Theslay Test <button class="add-button"
                                            onclick="addItem('Theslay Test','theslay_test')">Hinzufügen</button></li>
                                    <li>MacMurray Test <button class="add-button"
                                            onclick="addItem('MacMurray Test','mac_murray_test')">Hinzufügen</button>
                                    </li>
                                    <li>Payr-Zeichen <button class="add-button"
                                            onclick="addItem('Payr-Zeichen','payr_zeichen')">Hinzufügen</button></li>
                                    <li>Apley-Zeichen <button class="add-button"
                                            onclick="addItem('Apley-Zeichen','apley_zeichen')">Hinzufügen</button></li>
                                </ul>
                            </li>
                            <li><span class="caret">Kapsel-Band Instabilitäten</span>
                                <ul class="nested">
                                    <li>Valgus-Test <button class="add-button"
                                            onclick="addItem('Valgus-Test','valgus_test')">Hinzufügen</button></li>
                                    <li>Varus-Test <button class="add-button"
                                            onclick="addItem('Varus-Test','varus_test')">Hinzufügen</button></li>
                                    <li>Lachmann-Test <button class="add-button"
                                            onclick="addItem('Lachmann-Test','lachmann_test')">Hinzufügen</button></li>
                                    <li>Vordere Schublade <button class="add-button"
                                            onclick="addItem('Vordere Schublade','vordere_schublade')">Hinzufügen</button>
                                    </li>

                                    <li>Pivot-Shift-Test <button class="add-button"
                                            onclick="addItem('Pivot-Shift-Test','pivot_shift_test')">Hinzufügen</button>
                                    </li>
                                    <li>Hintere Schublade <button class="add-button"
                                            onclick="addItem('Hintere Schublade','hintere_schublade')">Hinzufügen</button>
                                    </li>
                                    <li>Gravitiy-Sign <button class="add-button"
                                            onclick="addItem('Gravitiy-Sign','gravitiy_sign')">Hinzufügen</button>
                                    </li>
                                    <li>Loomers-Test <button class="add-button"
                                            onclick="addItem('Loomers-Test','loomers_test')">Hinzufügen</button>
                                    </li>
                                </ul>
                            </li>
                            <li><span class="caret">Plica</span>
                                <ul class="nested">
                                    <li>Medio-Patellarer-Plica Test <button class="add-button"
                                            onclick="addItem('Medio-Patellarer-Plica Test','medio_patellarer_plica_test')">Hinzufügen</button>
                                    </li>
                                    <li>Hughston-Plica-Test <button class="add-button"
                                            onclick="addItem('Hughston-Plica-Test','hughston_plica_test')">Hinzufügen</button>
                                    </li>

                                </ul>
                            </li>
                        </ul>
                    </li>
                </ul>
            </li>
            <li>
                <span class="caret">
                    Neurologie (Test)
                </span>
            </li>
            <li>
                <span class="caret">
                    Innere Medizin (Test)
                </span>
            </li>
            <li>
                <span class="caret">
                    Ganganalyse (Test)
                </span>
                <ul class="nested">
                    <li>Standard Protokoll (Test) <button class="add-button"
                            onclick="addItem('Standard Protokoll')">Hinzufügen</button></li>

                </ul>
            </li>
            <li>
                <span class="caret">
                    Neurologie (Test)
                </span>
            </li>

        </ul>
    </div>
</div>







<script>

    function showLoadingScreen() {
        var loadingScreen = document.createElement('div');
        loadingScreen.id = 'loading-screen';
        loadingScreen.style.position = 'fixed';
        loadingScreen.style.top = '0';
        loadingScreen.style.left = '0';
        loadingScreen.style.width = '100%';
        loadingScreen.style.height = '100%';
        loadingScreen.style.backgroundColor = 'rgba(0,0,0,0.5)';
        loadingScreen.style.display = 'flex';
        loadingScreen.style.alignItems = 'center';
        loadingScreen.style.justifyContent = 'center';
        loadingScreen.style.zIndex = '1000';
        loadingScreen.innerHTML = '<div style="color: white; font-size: 20px;">Verarbeiten...</div>';
        document.body.appendChild(loadingScreen);
    }

    // Funktion, um den Ladebildschirm zu verstecken
    function hideLoadingScreen() {
        var loadingScreen = document.getElementById('loading-screen');
        if (loadingScreen) {
            document.body.removeChild(loadingScreen);
        }
    }


    function submit() {
        showLoadingScreen();
        let formedData = new FormData();
        let csrf_token = "{{csrf_token}}";
        formedData.append("csrfmiddlewaretoken", csrf_token);
        var befundeArray = addedBefunde.map(item => item.befund);
        formedData.append("test_list", JSON.stringify(befundeArray));
        console.log(befundeArray);

        fetch(".", {
            method: 'POST',
            headers: {
                'X-CSRFToken': csrf_token
            },
            body: formedData
        }).then(response => {
            // Verstecke den Ladebildschirm
            hideLoadingScreen();
            if (response.redirected) {
                // Wenn eine Umleitung vorliegt, navigieren Sie zur neuen URL
                window.location.href = response.url;
            } else {
                // Laden Sie die Seite neu oder zeigen Sie eine Fehlermeldung an
                window.location.reload();
            }
        }).catch(error => {
            // Verstecke den Ladebildschirm auch im Fehlerfall
            hideLoadingScreen();
            console.error('Error:', error);
        });
    }



    function showInfo(itemName) {
        let infoText = '';

        switch (itemName) {
            case 'Ananmense':
                infoText = 'Eine Anamnese ist wichtig, um die Krankengeschichte des Patienten zu erfassen und die richtige Diagnose und Behandlung zu ermöglichen.';
                break;
            case 'Schmerztest':
                infoText = 'Ein Schmerztest hilft dabei, den Schmerzlevel und die Schmerzquelle des Patienten zu bestimmen.';
                break;
            case 'Medikamente':
                infoText = 'Informationen über Medikamente sind wichtig, um mögliche Wechselwirkungen und Nebenwirkungen zu berücksichtigen.';
                break;
            // Weitere Fälle hinzufügen, falls benötigt
            default:
                infoText = 'Keine zusätzlichen Informationen verfügbar.';
        }

        alert(infoText);
    }

    var toggler = document.getElementsByClassName("caret");
    for (var i = 0; i < toggler.length; i++) {
        toggler[i].addEventListener("click", function () {
            this.parentElement.querySelector(".nested").classList.toggle("active");
            this.classList.toggle("caret-down");
        });
    }

    var addedBefunde = []; // Globale Variable für die gespeicherten Befunde

    // Funktion zum Hinzufügen eines Items in die Liste "Bereits hinzugefügt"
    function addItem(itemName, befund) {
        addedBefunde.push({ itemName, befund }); // Objekt mit itemName und befund in addedBefunde speichern

        var alreadyAddedColumn = document.getElementById("column-already-added");

        // Überprüfen, ob das Item bereits hinzugefügt wurde
        var items = alreadyAddedColumn.getElementsByClassName("added-item");
        for (var i = 0; i < items.length; i++) {
            var existingItemName = items[i].getAttribute("data-item-name");
            if (existingItemName === itemName) {
                alert("Dieses Element wurde bereits hinzugefügt.");
                return;
            }
        }

        // Neues Element erstellen
        var newItem = document.createElement("div");
        newItem.className = "added-item";
        newItem.setAttribute("data-item-name", itemName); // Setzen des data-item-name Attributs für die Identifikation
        newItem.innerHTML = `${itemName} <button onclick="removeItem(this)" class="delete-button">Entfernen</button>`;
        alreadyAddedColumn.appendChild(newItem);
        console.log(addedBefunde);
    }

    // Funktion zum Entfernen eines Items aus der Liste "Bereits hinzugefügt"
    function removeItem(button) {
        var itemText = button.parentElement.getAttribute("data-item-name"); // Item-Name aus dem data-item-name Attribut des Eltern-Elements extrahieren
        var indexToRemove = -1;

        // Item im Array finden und Index speichern
        for (var i = 0; i < addedBefunde.length; i++) {
            if (addedBefunde[i].itemName === itemText) {
                indexToRemove = i;
                break;
            }
        }

        // Wenn das Item im Array gefunden wurde, entferne es aus dem Array
        if (indexToRemove !== -1) {
            addedBefunde.splice(indexToRemove, 1);
        }

        // Entferne das Item aus dem DOM
        var item = button.parentElement;
        item.parentElement.removeChild(item);
        console.log(addedBefunde);
    }



</script>

{% endblock content %}