{%extends "laxout_app/main.html"%}
{%block title%}
Chat
{%endblock title%}
{%load crispy_forms_tags%}
{%block praxisname%}
Chats
{%endblock praxisname%}

{%block content%}

<style>
    .user-item-active {
        height: 90px;
        background-color: white;
        margin-top: 8px;
        margin-bottom: 8px;
        border-radius: 10px;
        border: 2px solid rgb(44, 67, 81);
        ;
        width: 70vw;
        color: black;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        flex-direction: row;
        display: flex;
        justify-content: center;
        align-items: center;
        align-self: start;
    }
</style>
<div style="margin: 25px;">


    {%for user in users%}
    {%if user.admin_has_seen_chat%}
    <button style="background:none; border: none;" onclick="navigate('{{user.id}}')">
        <div class="user-item" style="justify-items: center; justify-content: space-between; margin-top: 20px; margin-left: 25px;">
            <div style="padding-left: 30px; ">

                <h5 style="color: rgb(44, 67, 81);">
                    {{user.laxout_user_name}}
                </h5>
            </div>
            <div style="padding-right: 30px;">
                <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" fill="currentColor"
                    class="bi bi-person-circle" viewBox="0 0 16 16">
                    <path fill="rgb(44, 67, 81)" d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0" />
                    <path fill="rgb(44, 67, 81)" fill-rule="evenodd"
                        d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8m8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1" />
                </svg>

            </div>
            {%else%}
            <button style="background:none; border: none;" onclick="navigate('{{user.id}}')">
                <div class="user-item-active"  style="justify-items: center; justify-content: space-between; margin-top: 20px;">
                    <div style="padding-left: 30px; ">

                        <h5 style="color: rgb(44, 67, 81);">
                            {{user.laxout_user_name}}
                        </h5>
                    </div>
                    <div style="padding-right: 30px;">
                        <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" fill="currentColor"
                            class="bi bi-person-circle" viewBox="0 0 16 16">
                            <path fill="rgb(44, 67, 81)" d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0" />
                            <path fill="rgb(44, 67, 81)" fill-rule="evenodd"
                                d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8m8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1" />
                        </svg>

                    </div>
            </button>
            {%endif%}



        </div>
        {%endfor%}
</div>
</button>

<script>
    function navigate(id) {
        window.location.href = "/home/chats/" + id + "/";
    }
</script>
{%endblock content%}