{% extends 'laxout_app/main.html' %}
{% block title %}Create User {% endblock title %}
{% load crispy_forms_tags %}
{% block praxisname %}User Erstellen{% endblock praxisname %}
{% block additionalNavItem %}
{% if is_superuser %}
<div class="row-basti-addexercise" style="padding-left: 10px; margin-bottom: 25px;">
    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-database-add"
        viewBox="0 0 16 16">
        <path
            d="M12.5 16a3.5 3.5 0 1 0 0-7 3.5 3.5 0 0 0 0 7m.5-5v1h1a.5.5 0 0 1 0 1h-1v1a.5.5 0 0 1-1 0v-1h-1a.5.5 0 0 1 0-1h1v-1a.5.5 0 0 1 1 0" />
        <path
            d="M12.096 6.223A5 5 0 0 0 13 5.698V7c0 .289-.213.654-.753 1.007a4.5 4.5 0 0 1 1.753.25V4c0-1.007-.875-1.755-1.904-2.223C11.022 1.289 9.573 1 8 1s-3.022.289-4.096.777C2.875 2.245 2 2.993 2 4v9c0 1.007.875 1.755 1.904 2.223C4.978 15.71 6.427 16 8 16c.536 0 1.058-.034 1.555-.097a4.5 4.5 0 0 1-.813-.927Q8.378 15 8 15c-1.464 0-2.766-.27-3.682-.687C3.356 13.875 3 13.373 3 13v-1.302c.271.202.58.378.904.525C4.978 12.71 6.427 13 8 13h.027a4.6 4.6 0 0 1 0-1H8c-1.464 0-2.766-.27-3.682-.687C3.356 10.875 3 10.373 3 10V8.698c.271.202.58.378.904.525C4.978 9.71 6.427 10 8 10q.393 0 .774-.024a4.5 4.5 0 0 1 1.102-1.132C9.298 8.944 8.666 9 8 9c-1.464 0-2.766-.27-3.682-.687C3.356 7.875 3 7.373 3 7V5.698c.271.202.58.378.904.525C4.978 6.711 6.427 7 8 7s3.022-.289 4.096-.777M3 4c0-.374.356-.875 1.318-1.313C5.234 2.271 6.536 2 8 2s2.766.27 3.682.687C12.644 3.125 13 3.627 13 4c0 .374-.356.875-1.318 1.313C10.766 5.729 9.464 6 8 6s-2.766-.27-3.682-.687C3.356 4.875 3 4.373 3 4" />
    </svg>
    <a href="/new-exercise/" style="padding-left: 20px; color: white; text-decoration: none;">Neue Übung </a>
</div>
{% endif %}
{% endblock additionalNavItem %}
{% block content %}
<style>
    .submit_button {
        height: 30px;
        width: 140px;
        border-radius: 10px;
        background-color: rgb(44, 67, 81);
        color: white;
        margin-left: 0px;
        cursor: pointer;
        border: none;
    }
</style>
<div style="padding-left: 15px; width: 400px;">
    <form method="post">
        {% csrf_token %}
        {{ form|crispy }}

        <!-- Dropdown-Menü -->
        <div style="display: flex; flex-direction: column;">
            <label for="illness">Wählen Sie einen vorgefertigten Trainingsplan:</label>
            <select id="illness" name="illness">
                {% for illness in illness_list %}
                <option value="{{ illness }}">{{ illness }}</option>
                {% endfor %}
            </select>
            <!-- Verstecktes Eingabefeld für das ausgewählte Attribut "illness" -->
            <input type="hidden" name="selected_illness" id="selected_illness">
            <div style="display: flex; align-items: center; margin-top: 25px;">
                <input type="checkbox" style="height: 15px; width: 15px; border-radius: 20px;" id="checkbox_payment">
                <div style="justify-content: center; margin-left: 25px;">
                    Der Patient möchte eine kostenlose Testversion starten. 
                </div>
            </div>
            <div style="display: flex; align-items: center; margin-top: 25px;">
                <input type="checkbox" style="height: 20px; width: 20px; border-radius: 20px;" id="checkbox_datasafety">
                <div style="justify-content: center; margin-left: 25px;">
                    Der Patient akzeptiert die <a href="https://laxoutapp.com/privacy-policy/">Datenschutzbestimmungen</a> und die <a href="https://laxoutapp.com/allgemeine-geschaeftsbedingungen-agb/">AGBs</a>
                </div>
            </div>

            <div style="height: 30px;"></div>
            <button type="button" class="submit_button" onclick="submitForm()">Nutzer Erstellen</button>
        </div>
    </form>
</div>

<script>
 function showLoadingScreen() {
        var loadingScreen = document.createElement('div');
        loadingScreen.id = 'loading-screen';
        loadingScreen.style.position = 'fixed';
        loadingScreen.style.top = '0';
        loadingScreen.style.left = '0';
        loadingScreen.style.width = '100%';
        loadingScreen.style.height = '100%';
        loadingScreen.style.backgroundColor = 'rgba(0,0,0,0.5)';
        loadingScreen.style.display = 'flex';
        loadingScreen.style.alignItems = 'center';
        loadingScreen.style.justifyContent = 'center';
        loadingScreen.style.zIndex = '1000';
        loadingScreen.innerHTML = '<div style="color: white; font-size: 20px;">Verarbeiten...</div>';
        document.body.appendChild(loadingScreen);
    }

    // Funktion, um den Ladebildschirm zu verstecken
    function hideLoadingScreen() {
        var loadingScreen = document.getElementById('loading-screen');
        if (loadingScreen) {
            document.body.removeChild(loadingScreen);
        }
    }   

function validateForm() {
        // Hole alle Pflichtfelder
        var requiredFields = document.querySelectorAll('[required]');
        var alertshown = false;

        // Überprüfe jedes Pflichtfeld
        for (var i = 0; i < requiredFields.length; i++) {
            // Wenn ein Pflichtfeld leer ist, gib eine Warnung aus und verhindere das Absenden
            if (requiredFields[i].value.trim() === '') {
                if(alertshown === false){
                    alert('Bitte füllen Sie alle Pflichtfelder aus.');
                }
                alertshown = true;
                return false; // Verhindere das Absenden des Formulars
            }
        }

        // Wenn alle Pflichtfelder ausgefüllt sind, lasse das Formular absenden
        return true;
    }

    window.onload = function () {
        var illnessDropdown = document.getElementById("illness");
        var selectedIllnessInput = document.getElementById("selected_illness");

        illnessDropdown.addEventListener("change", function () {
            selectedIllnessInput.value = this.value;
        });
    };

    function submitForm() {
        showLoadingScreen();
        console.log(validateForm());
        var checkbox = document.getElementById("checkbox_payment");
        var checkbox2 = document.getElementById("checkbox_datasafety");

        // Überprüfe, ob die Checkbox aktiviert ist
        if (checkbox.checked) {
            if (checkbox2.checked) {
                var illnessDropdown = document.getElementById("illness");
                var selectedIllnessInput = document.getElementById("selected_illness");

                // Aktualisiere das versteckte Eingabefeld mit dem Wert des Dropdown-Menüs
                selectedIllnessInput.value = illnessDropdown.value;

                // Sende das Formular ab
                if (validateForm()) {
                    // Sende das Formular ab
                    document.getElementsByTagName("form")[0].submit();
                }
            } else {
                alert("Der Patient muss die Datenschutzbestimmungen und die AGBs akzeptieren!");
            }
        } else {
            // Wenn die Checkbox nicht aktiviert ist, gib eine Warnung aus oder ergreife andere Maßnahmen
            alert("Bitte bestätigen Sie, dass der Patient die Testversion starten möchte!");
        }
    }

</script>

{% endblock content %}