{% extends 'laxout_app/main.html' %}
{% block title %}Edit User{% endblock title %}
{%load static%}
{% block praxisname %}Benutzer Verwalten{% endblock praxisname %}
{% load crispy_forms_tags %}
{% block content %}
<script src="https://cdn.rawgit.com/davidshimjs/qrcodejs/gh-pages/qrcode.min.js"></script>
<div
    style="display: flex; flex-direction: row; justify-content: space-between; padding-left: 30px; padding-right: 30px;">


    <div style="display: flex; flex-direction: column; align-items: flex-start;">
        <div style="display: flex; flex-direction: row; align-items: center;">
            <div style="padding-right: 25px;">
                <svg xmlns="http://www.w3.org/2000/svg" width="60" height="60" fill="currentColor"
                    class="bi bi-person-circle" viewBox="0 0 16 16">
                    <path fill="rgb(44, 67, 81)" d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0" />
                    <path fill="rgb(44, 67, 81)" fill-rule="evenodd"
                        d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8m8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1" />
                </svg>
            </div>
            <h1 style="color: rgb(44, 67, 81);">
                {{ users.laxout_user_name }}
            </h1>
            <div style="display: flex; flex-direction: column; align-items: center;">
                <div id="qrcode" style="margin-left: 40px;"></div>
                <div style="margin-left: 30px;">
                    {{users.user_uid}}
                </div>
            </div>
        </div>
        <div style="padding-top: 15px; padding-bottom: 15px;">
            <h3 style="color: rgb(44, 67, 81);">
                {{ users.note }}
            </h3>
        </div>
        <div style="padding-bottom: 25px;">
            {{ users.creation_date }}
        </div>
        <div class="home-item"
            style="height: 425px; width: 30vw; background-color: white; padding-left: 25px; padding-top: 20px;">

        </div>
    </div>


    <div class="home-item" style="height: 600px; width: 40vw; background-color: white; padding-left: 25px;">

    </div>

</div>

<div style="padding-left: 30px; padding-top: 50px;">
    <div
        style="display: flex; flex-direction: row; justify-content: space-between; justify-items: center; align-items: center;padding-right: 30px;">
        <h3 style="color: rgb(44, 67, 81);">
            Eingestellte Übungen:
        </h3>
        <button class="action-button" onclick="addExercises('{{users.id}}')">
            Hinzufügen
        </button>
    </div>
    {% for exercises in users.exercises.all%}
    {% if exercises %}
    <div class="user-item" style="justify-items: center; justify-content: space-between; height: 200px;">
        <div style="padding-left: 30px; height: 100px; width: 100px;">
            <img src="{%static exercises.imagePath %}" alt="" style="height: 100px; width: 100px;">
        </div>
        <div style="padding-right: 30px; width: 40vw;">

            <h5 style="color: rgb(44, 67, 81);">
                {{ exercises.name }}
            </h5>
            <div style="justify-content: start; align-items: center;">
                <div style="color: grey; font-size: 13px;">
                    <textarea id="{{exercises.name}}" style="width: 100%; border: none;"
                        onchange="makeVisible('{{exercises.id}}id')" readonly>{{ exercises.execution }}</textarea>
                </div>
                <button
                    style="display: flex; justify-items: center; justify-content: center; align-items: center; width: 70; font-size: 16px; border: none; background-color: rgb(44, 67, 81); border-radius: 10px; height: 30px;"
                    onclick="toggleEditMode('{{exercises.name}}')">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pen"
                        viewBox="0 0 16 16">
                        <path fill="rgb(255,255,255)"
                            d="m13.498.795.149-.149a1.207 1.207 0 1 1 1.707 1.708l-.149.148a1.5 1.5 0 0 1-.059 2.059L4.854 14.854a.5.5 0 0 1-.233.131l-4 1a.5.5 0 0 1-.606-.606l1-4a.5.5 0 0 1 .131-.232l9.642-9.642a.5.5 0 0 0-.642.056L6.854 4.854a.5.5 0 1 1-.708-.708L9.44.854A1.5 1.5 0 0 1 11.5.796a1.5 1.5 0 0 1 1.998-.001m-.644.766a.5.5 0 0 0-.707 0L1.95 11.756l-.764 3.057 3.057-.764L14.44 3.854a.5.5 0 0 0 0-.708l-1.585-1.585z" />
                    </svg>
                </button>



            </div>
        </div>
        <div
            style="padding-right: 30px;color: rgb(44, 67, 81); flex-direction: row; align-items: center; justify-items: center;">
            <input type="number" onchange="makeVisible('{{exercises.id}}id')"
                style="width: 40px; border: 2.4px solid rgb(44, 67, 81); border-radius: 10px; color: rgb(44, 67, 81); align-items: center;"
                placeholder="{{exercises.dauer}}" id="{{exercises.id}}">
            {% if exercises.timer == True %}
            sek
            {% else %}
            mal
            {% endif %}
        </div>

        <div
            style="flex-direction: column; justify-content: center; align-items: center; justify-items: center;display: flex; ">
            <div style="flex-direction: row; display: flex;">
                <button class="delete-button"
                    style="display: flex; justify-items: center; justify-content: center; align-items: center; width: 70; font-size: 16px;"
                    onclick="deleteWorkout('{{exercises.id}}', '{{users.id}}')">
                    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor"
                        class="bi bi-trash3" viewBox="0 0 16 16">
                        <path fill="rgb(255, 255, 255)"
                            d="M6.5 1h3a.5.5 0 0 1 .5.5v1H6v-1a.5.5 0 0 1 .5-.5M11 2.5v-1A1.5 1.5 0 0 0 9.5 0h-3A1.5 1.5 0 0 0 5 1.5v1H2.506a.58.58 0 0 0-.01 0H1.5a.5.5 0 0 0 0 1h.538l.853 10.66A2 2 0 0 0 4.885 16h6.23a2 2 0 0 0 1.994-1.84l.853-10.66h.538a.5.5 0 0 0 0-1h-.995a.59.59 0 0 0-.01 0zm1.958 1-.846 10.58a1 1 0 0 1-.997.92h-6.23a1 1 0 0 1-.997-.92L3.042 3.5zm-7.487 1a.5.5 0 0 1 .528.47l.5 8.5a.5.5 0 0 1-.998.06L5 5.03a.5.5 0 0 1 .47-.53Zm5.058 0a.5.5 0 0 1 .47.53l-.5 8.5a.5.5 0 1 1-.998-.06l.5-8.5a.5.5 0 0 1 .528-.47ZM8 4.5a.5.5 0 0 1 .5.5v8.5a.5.5 0 0 1-1 0V5a.5.5 0 0 1 .5-.5" />
                    </svg>
                </button>
            </div>
            <button class="text-button-arme " id="{{exercises.id}}id"
                onclick="refreshWorkout('{{exercises.name}}','{{exercises.dauer}}', '{{exercises.id}}', '{{users.id}}')"
                style="visibility:hidden; padding-right: 25px; padding-top: 15px;">
                Speichern
            </button>

        </div>
    </div>

    {% else %}
    <p>Keine Übung zugewiesen</p>
    {% endif %}
    {%endfor%}

</div>
<script>
    var url = "http://127.0.0.1:8000/laxout/show-login-code/{{users.user_uid}}";

    // Erstelle den QR-Code
    var qrcode = new QRCode(document.getElementById("qrcode"), {
        text: url,
        width: 128,
        height: 128
    });

    function makeVisible(cssId) {
        element = document.getElementById(cssId);
        element.style.visibility = 'visible';
    }


    function addExercises(id) {
        window.location.href = "add-exercises/" + id;
    }

    function toggleEditMode(workoutName) {
        const executionTextarea = document.getElementById(workoutName);
        if (executionTextarea) {
            executionTextarea.readOnly = !executionTextarea.readOnly;
            executionTextarea.focus();
        }
    }

    function refreshWorkout(cssId, newDauer, cssId2, userId) {
        const executionTextarea = document.getElementById(cssId);
        const inputDauer = document.getElementById(cssId2);
        document.getElementById(cssId2 + "id").style.visibility = 'hidden';
        let execution = executionTextarea.value;
        let dauer = inputDauer.value;
        let formedData = new FormData();
        let token = "{{csrf_token}}";
        formedData.append("csrfmiddlewaretoken", token);
        formedData.append("execution", execution);
        formedData.append("dauer", dauer);
        formedData.append("id", cssId2);
        formedData.append("userId", userId)
        fetch("edit-user-workout/", {
            headers: {
                'X-CSRFToken': token,
            },
            method: "POST",
            body: formedData
        });
    }

    function deleteWorkout(workoutId, userId) {
        let formedData = new FormData();
        let token = "{{csrf_token}}";
        formedData.append("csrfmiddlewaretoken", token);
        formedData.append("id", workoutId);
        formedData.append("userId", userId)
        fetch("delete-user-workout/", {
            headers: {
                'X-CSRFToken': token,
            },
            method: "POST",
            body: formedData
        });
        window.location.reload();
    }
</script>


{% endblock content %}