{% extends 'laxout_app/main.html' %}
{% block title %}Edit User{% endblock title %}
{%load static%}
{% block praxisname %}Benutzer Verwalten{% endblock praxisname %}
{% load crispy_forms_tags %}
{% block content %}
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<style>
    #video-container {
        position: absolute;
        top: 60%;
        border-radius: 10px;
        left: 60%;
        transform: translate(-60%, -60%);
        overflow: hidden;
    }

    #video {
        border-radius: 10px;
        width: 90%;
        height: 90%;
        object-fit: contain;
        transform-origin: center;
        transition: transform 0.2s ease-out;
    }

    #close-button {
        position: absolute;
        top: 0px;
        right: 0px;
        background-color: rgb(44, 67, 81);
        border: none;
        border-radius: 50%;
        color: white;
        width: 40px;
        height: 40px;
    }

    .delete-button.zoomed {
        transform: scale(1.1);
    }

    .row-basti-analysePage-Charts {
        justify-content: start;
        flex-direction: row;
        align-items: start;
        display: flex;
        padding-top: 40px;
        padding-left: 100px;
        flex-direction: row;
        justify-content: start;
        align-items: start;

        height: 60vh;
        width: 80vw;
    }

    @media only screen and (min-width:1200px) {
        .row-calender-user {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            padding-left: 30px;
            padding-right: 30px;
            height: 120vh;
        }

        .chart-legend-container {
            height: 100%;
            width: 30vw;
            background-color: white;
            display: flex;
            align-items: center;
            flex-direction: column;
            justify-content: start;
            align-items: start;
            padding-top: 30px;

            border-radius: 10px;

            color: black;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        }

        .calender-container {
            height: 100%;
            width: 50vw;
            background-color: white;
            display: flex;
            align-items: center;
            flex-direction: column;
            justify-content: start;
            align-items: start;
            padding-top: 60px;
            margin-bottom: 20px;

            border-radius: 10px;

            color: black;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        }
    }

    @media only screen and (min-width:769px) and (max-width:1199px) {
        .row-calender-user {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            padding-left: 30px;
            padding-right: 30px;
            height: 90vh;
        }

        .chart-legend-container {
            height: 100%;
            width: 70vw;
            background-color: white;
            display: flex;
            align-items: center;
            flex-direction: column;
            justify-content: start;
            align-items: start;
            padding-top: 30px;
            margin-bottom: 20px;

            border-radius: 10px;

            color: black;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        }

        .calender-container {
            height: 100%;
            width: 80vw;
            background-color: white;
            display: flex;
            align-items: center;
            flex-direction: column;
            justify-content: start;
            align-items: start;
            padding-top: 30px;
            margin-bottom: 20px;

            border-radius: 10px;

            color: black;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        }


    }
</style>
<script src="https://cdn.rawgit.com/davidshimjs/qrcodejs/gh-pages/qrcode.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<div class="row-calender-user">
    <div style="display: flex; flex-direction: column; align-items: flex-start;">
        <div style="display: flex; flex-direction: row; align-items: center;">
            <div style="padding-right: 25px;">
                <svg xmlns="http://www.w3.org/2000/svg" width="60" height="60" fill="currentColor"
                    class="bi bi-person-circle" viewBox="0 0 16 16">
                    <path fill="rgb(44, 67, 81)" d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0" />
                    <path fill="rgb(44, 67, 81)" fill-rule="evenodd"
                        d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8m8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1" />
                </svg>
            </div>
            <h1 style="color: rgb(44, 67, 81);">
                {{ users.laxout_user_name }}
            </h1>
            <div style="display: flex; flex-direction: column; align-items: center;">
                <div id="qrcode" style="margin-left: 40px;"></div>
                <div style="margin-left: 30px;">
                    {{users.user_uid}}
                </div>
            </div>
        </div>
        <div style="padding-top: 15px; padding-bottom: 15px;">
            <h3 style="color: rgb(44, 67, 81);">
                {{ users.note }}
            </h3>
        </div>
        <div style="padding-bottom: 25px;">
            {{ users.creation_date }}
        </div>
        <div class="chart-legend-container">
            <canvas id="line"></canvas>

            <div
                style="display: flex; justify-content: space-between; flex-direction: row; align-items: center; justify-items: center; padding-left: 20px; padding-top: 20px;">
                <div class="day" style="height: 50px; width: 70px;">
                    24
                </div>
                <h4 style="padding-left: 20px;">
                    Normaler Tag
                </h4>
            </div>

            <div
                style="display: flex; justify-content: space-between; flex-direction: row; align-items: center; justify-items: center; padding-left: 20px; padding-top: 20px;">
                <div class="lastMeet" style="height: 50px; width: 70px; align-items: center; display: flex;">
                    24
                </div>
                <h4 style="padding-left: 20px;">
                    Letzer Termin
                </h4>
            </div>

            <div
                style="display: flex; justify-content: space-between; flex-direction: row; align-items: center; justify-items: center; padding-left: 20px; padding-top: 20px;">
                <div class="done" style="height: 50px; width: 70px; align-items: center; display: flex;">
                    24
                </div>
                <h4 style="padding-left: 20px;">
                    Physio-Workout Erledigt
                </h4>
            </div>

            <div
                style="display: flex; justify-content: space-between; flex-direction: row; align-items: center; justify-items: center; padding-left: 20px; padding-top: 20px;">
                <div class="today" style="height: 50px; width: 70px; align-items: center; display: flex;">
                    24
                </div>
                <h4 style="padding-left: 20px;">
                    Heute
                </h4>
            </div>

        </div>
    </div>


    <div class="calender-container">
        <div
            style="flex-direction: row; justify-content: space-between; padding-left: 30px; padding-right: 30px; display: flex; padding-top: 30px;">
            <div>
                <button id="prevMonth" style="background: none; border: none;">
                    <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor"
                        class="bi bi-caret-left-fill" viewBox="0 0 16 16">
                        <path fill="rgb(44, 67, 81)"
                            d="m3.86 8.753 5.482 4.796c.646.566 1.658.106 1.658-.753V3.204a1 1 0 0 0-1.659-.753l-5.48 4.796a1 1 0 0 0 0 1.506z" />
                    </svg>
                </button>
                <button id="nextMonth" style="background: none; border: none;">
                    <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor"
                        class="bi bi-caret-right-fill" viewBox="0 0 16 16">
                        <path fill="rgb(44, 67, 81)"
                            d="m12.14 8.753-5.482 4.796c-.646.566-1.658.106-1.658-.753V3.204a1 1 0 0 1 1.659-.753l5.48 4.796a1 1 0 0 1 0 1.506z" />
                    </svg>
                </button>
            </div>
            <div id="display-date">
                März 2023
            </div>
        </div>
        <div id="calendar"></div>
        <div>
            <div
                style="display: flex; flex-direction: row; justify-content: space-between; align-items: center; justify-items: center;">

                <button class="action-button" style="width: 200px; margin: 20px;" onclick="fetchSession()">
                    Heute war ein Termin
                </button>
                <div style="display: flex; flex-direction: column; justify-content: center;">
                    <div
                        style="display: flex; flex-direction: row; justify-content: space-around; align-items: center;">
                        <div style="padding-left: 100px;">
                            <input type="text" id="instruction-input"
                                style="border: solid 2px black; color: black; background-color: white; border-radius: 12px; height: 40px; width: 250px;"
                                placeholder="{% if not users.instruction %}Anweisung für den Patienten{% else %}{{ users.instruction }}{% endif %}"
                                onsubmit="postUserInstruction('{{ users.id }}')"
                                onchange="postUserInstruction('{{ users.id }}')" value="{{ users.instruction }}">
                        </div>
                        <div style="width: 35px;">

                        </div>
                        <button class="delete-button" onclick="postUserInstruction('{{ users.id }}')"
                            style="align-items: center;justify-content: center;display: flex;">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                class="bi bi-check-square-fill" viewBox="0 0 16 16">
                                <path
                                    d="M2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2zm10.03 4.97a.75.75 0 0 1 .011 1.05l-3.992 4.99a.75.75 0 0 1-1.08.02L4.324 8.384a.75.75 0 1 1 1.06-1.06l2.094 2.093 3.473-4.425a.75.75 0 0 1 1.08-.022z" />
                            </svg>
                        </button>
                    </div>
                    <div style="height: 25px;">

                    </div>
                    <div
                        style="display: flex; flex-direction: row; justify-content: space-around; align-items: center;">
                        <div style="padding-left: 100px;">
                            <input type="text" id="mail-input"
                                style="border: solid 2px black; color: black; background-color: white; border-radius: 12px; height: 40px; width: 250px;"
                                placeholder="{% if not users.email_adress %}Email Adresse des Patienten{% else %}{{ users.email_adress }}{% endif %}"
                                onsubmit="postUserMail('{{ users.id }}')" onchange="postUserMail('{{ users.id }}')"
                                value="{{ users.email_adress }}">
                        </div>
                        <div style="width: 35px;">

                        </div>
                        <button class="delete-button" onclick="postUserMail('{{ users.id }}')"
                            style="align-items: center;justify-content: center;display: flex;">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                class="bi bi-check-square-fill" viewBox="0 0 16 16">
                                <path
                                    d="M2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2zm10.03 4.97a.75.75 0 0 1 .011 1.05l-3.992 4.99a.75.75 0 0 1-1.08.02L4.324 8.384a.75.75 0 1 1 1.06-1.06l2.094 2.093 3.473-4.425a.75.75 0 0 1 1.08-.022z" />
                            </svg>
                        </button>
                    </div>
                </div>


            </div>
        </div>
        <div
            style="display: flex; flex-direction: row; justify-content: space-between; align-items: center; justify-items: center; ">
            <button class="text-button-mr" style="font-size: normal; margin: 20px;"
                onclick="mrSelectedSetzen('{{users.id}}')">
                1x wöchentlich
            </button>
            <button class="text-button-bauch" style="font-size: normal; margin: 20px;"
                onclick="bauchSelectedSetzen('{{users.id}}')">
                2x wöchentlich
            </button>
            <button class="text-button-ur" style="font-size: normal; margin: 20px;"
                onclick="urSelectedSetzen('{{users.id}}')">
                3x wöchentlich
        </div>
    </div>
</div>

</div>

<div style="padding-left: 30px; padding-top: 50px; padding-right: 30px;">
    <div
        style="display: flex; flex-direction: row; justify-content: space-between; justify-items: center; align-items: center;padding-left: 0px;">
        <h3 style="color: rgb(44, 67, 81); margin-left: 150px;">
            Eingestellte Übungen:
        </h3>

        <div style="flex-direction: row; display: flex;">
            
        <h3 id="how-much-time">
            <!-- Hier kann der Text eingefügt werden -->
        </h3>
        </div>
        <button class="action-button" onclick="addExercises('{{users.id}}')">
            Hinzufügen
        </button>
    </div>
    <!-- users.exercises.all -->

    {% for exercises in workouts%}
    {% if exercises %}
    <div style="display: flex; flex-direction: row; align-items: center; justify-content: space-around;">

        <div class="user-item"
            style="justify-items: center; justify-content: space-between; height: 200px; width: 90%;">
            <div>

            </div>
            <div
                style="flex-direction: column; display: flex; justify-content: space-between; align-items: center; align-self: center; ">
                <button style="background:none; border: none;" onclick="moveUp('{{exercises.id}}')">
                    <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor"
                        class="bi bi-chevron-up" viewBox="0 0 16 16">
                        <path fill="rgb(44,67,81)" fill-rule="evenodd"
                            d="M7.646 4.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1-.708.708L8 5.707l-5.646 5.647a.5.5 0 0 1-.708-.708z" />
                    </svg>
                </button>
                <div style="height: 75px ;"></div>
                <button style="background:none; border: none;" onclick="moveDown('{{exercises.id}}')">
                    <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor"
                        class="bi bi-chevron-down" viewBox="0 0 16 16">
                        <path fill="rgb(44,67,81)" fill-rule="evenodd"
                            d="M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708" />
                    </svg>
                </button>

            </div>
            <div style="padding-left: 30px; height: 100px; width: 100px;">
                <img src="{%static exercises.imagePath %}" alt="" style="height: 100px; width: 100px;">
            </div>
            <div style="padding-right: 30px; width: 40vw;">

                <h5 style="color: rgb(44, 67, 81);">
                    {{ exercises.name }}
                </h5>
                <div style="justify-content: start; align-items: center;">
                    <div style="color: grey; font-size: 13px;">
                        <textarea id="{{exercises.id}}name" style="width: 100%; border: none;"
                            onchange="makeVisible('{{exercises.id}}id')" readonly>{{ exercises.execution }}
                           
                        </textarea>
                    </div>
                    <button
                        style="display: flex; justify-items: center; justify-content: center; align-items: center; width: 70; font-size: 16px; border: none; background-color: rgb(44, 67, 81); border-radius: 10px; height: 30px;"
                        onclick="toggleEditMode('{{exercises.id}}name')">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                            class="bi bi-pen" viewBox="0 0 16 16">
                            <path fill="rgb(255,255,255)"
                                d="m13.498.795.149-.149a1.207 1.207 0 1 1 1.707 1.708l-.149.148a1.5 1.5 0 0 1-.059 2.059L4.854 14.854a.5.5 0 0 1-.233.131l-4 1a.5.5 0 0 1-.606-.606l1-4a.5.5 0 0 1 .131-.232l9.642-9.642a.5.5 0 0 0-.642.056L6.854 4.854a.5.5 0 1 1-.708-.708L9.44.854A1.5 1.5 0 0 1 11.5.796a1.5 1.5 0 0 1 1.998-.001m-.644.766a.5.5 0 0 0-.707 0L1.95 11.756l-.764 3.057 3.057-.764L14.44 3.854a.5.5 0 0 0 0-.708l-1.585-1.585z" />
                        </svg>
                    </button>




                </div>
            </div>
            <div
                style="padding-right: 30px;color: rgb(44, 67, 81); flex-direction: row; align-items: center; justify-items: center;">
                <input type="number" onchange="makeVisible('{{exercises.id}}id')"
                    style="width: 40px; border: 2.4px solid rgb(44, 67, 81); border-radius: 10px; color: rgb(44, 67, 81); align-items: center;"
                    placeholder="{{exercises.dauer}}" id="{{exercises.id}}">
                {% if exercises.timer == True %}
                sek
                {% else %}
                mal
                {% endif %}
            </div>

            <div style="display: flex; flex-direction: row;">
                <div style="flex-direction: column; justify-content: center; align-items: center;  display: flex; ">
                    <div style="flex-direction: row; display: flex;">
                        <button class="delete-button" style="width: 70; font-size: 16px;"
                            onclick="deleteWorkout('{{exercises.id}}', '{{users.id}}')">
                            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor"
                                class="bi bi-trash3" viewBox="0 0 16 16">
                                <path fill="rgb(255, 255, 255)"
                                    d="M6.5 1h3a.5.5 0 0 1 .5.5v1H6v-1a.5.5 0 0 1 .5-.5M11 2.5v-1A1.5 1.5 0 0 0 9.5 0h-3A1.5 1.5 0 0 0 5 1.5v1H2.506a.58.58 0 0 0-.01 0H1.5a.5.5 0 0 0 0 1h.538l.853 10.66A2 2 0 0 0 4.885 16h6.23a2 2 0 0 0 1.994-1.84l.853-10.66h.538a.5.5 0 0 0 0-1h-.995a.59.59 0 0 0-.01 0zm1.958 1-.846 10.58a1 1 0 0 1-.997.92h-6.23a1 1 0 0 1-.997-.92L3.042 3.5zm-7.487 1a.5.5 0 0 1 .528.47l.5 8.5a.5.5 0 0 1-.998.06L5 5.03a.5.5 0 0 1 .47-.53Zm5.058 0a.5.5 0 0 1 .47.53l-.5 8.5a.5.5 0 1 1-.998-.06l.5-8.5a.5.5 0 0 1 .528-.47ZM8 4.5a.5.5 0 0 1 .5.5v8.5a.5.5 0 0 1-1 0V5a.5.5 0 0 1 .5-.5" />
                            </svg>
                        </button>
                    </div>
                    <div style="height: 30px;">

                    </div>
                    <div style="flex-direction: row;">
                        <button class="delete-button"
                            style="display: flex; justify-items: center; justify-content: center; align-items: center; width: 70; font-size: 16px;"
                            onclick="viewVideo('{%static exercises.videoPath %}')">
                            <svg xmlns="http://www.w3.org/2000/svg" width="26" height="26" fill="currentColor"
                                class="bi bi-eye" viewBox="0 0 16 16">
                                <path
                                    d="M16 8s-3-5.5-8-5.5S0 8 0 8s3 5.5 8 5.5S16 8 16 8M1.173 8a13.133 13.133 0 0 1 1.66-2.043C4.12 4.668 5.88 3.5 8 3.5c2.12 0 3.879 1.168 5.168 2.457A13.133 13.133 0 0 1 14.828 8c-.058.087-.122.183-.195.288-.335.48-.83 1.12-1.465 1.755C11.879 11.332 10.119 12.5 8 12.5c-2.12 0-3.879-1.168-5.168-2.457A13.134 13.134 0 0 1 1.172 8z" />
                                <path
                                    d="M8 5.5a2.5 2.5 0 1 0 0 5 2.5 2.5 0 0 0 0-5M4.5 8a3.5 3.5 0 1 1 7 0 3.5 3.5 0 0 1-7 0" />
                            </svg>
                        </button>
                    </div>
                </div>

                <div style="display: flex; flex-direction: row; align-items: center; justify-content: space-around;">
                    <svg xmlns="http://www.w3.org/2000/svg" width="10" height="10" fill="currentColor"
                        class="bi bi-skip-forward-fill" viewBox="0 0 16 16">
                        <path fill="rgb(44,67,81)"
                            d="M15.5 3.5a.5.5 0 0 1 .5.5v8a.5.5 0 0 1-1 0V8.753l-6.267 3.636c-.54.313-1.233-.066-1.233-.697v-2.94l-6.267 3.636C.693 12.703 0 12.324 0 11.693V4.308c0-.63.693-1.01 1.233-.696L7.5 7.248v-2.94c0-.63.693-1.01 1.233-.696L15 7.248V4a.5.5 0 0 1 .5-.5" />
                    </svg>
                    <h6 style="padding-right: 13px; padding-left: 10px;">
                        {{exercises.skippedAmount}}-mal
                    </h6>


                </div>
                <button class="text-button-arme " id="{{exercises.id}}id"
                    onclick="refreshWorkout('{{exercises.id}}name','{{exercises.dauer}}', '{{exercises.id}}', '{{users.id}}')"
                    style="visibility:hidden; padding-right: 25px; padding-top: 15px;">
                    Speichern
                </button>

            </div>
        </div>

    </div>

    {% else %}
    <p>Keine Übung zugewiesen</p>
    {% endif %}
    {%endfor%}


</div>

<div style="height: 100px;">

</div>

<div class="row-basti-analysePage-Charts">


    <canvas id="myChart"></canvas>





    <canvas id="dougnutChart"></canvas>

</div>


<div id="video-container" style="visibility: hidden;">
    <button id="close-button" onclick="hideVideo()">X</button>
    <video id="video" muted>
        <source src="{% static 'assets/videos/NackenSeitlicheNeigungen.mp4' %}" type="video/mp4">
        Dein Browser unterstützt das Video-Tag nicht.
    </video>
</div>



<script>

    const videoContainer = document.getElementById('video-container');
    const video = document.getElementById('video');
    const videoSource = document.getElementById('video-source');
    const playButton = document.getElementById('play-button');
    const time = document.getElementById('how-much-time');
    // Extrahiere alle Elemente mit der Klasse "user-item"
    const userItems = document.querySelectorAll('.user-item');

    // Initialisiere eine leere Liste für die Workouts
    const workoutsList = [];
    let completeTime = 0;

    // Iteriere über alle gefundenen Elemente
    userItems.forEach(userItem => {
        // Extrahiere die Informationen aus jedem Element und füge sie zur Workouts-Liste hinzu
        const name = userItem.querySelector('h5').textContent.trim();
        const execution = userItem.querySelector('textarea').textContent.trim();
        const id = userItem.querySelector('textarea').id.replace('name', '');
        // Extrahiere die Dauer aus dem entsprechenden Input-Element
        const duration = parseInt(userItem.querySelector('.user-item input[type="number"]').getAttribute('placeholder').trim());



        workoutsList.push({
            duration: duration,

            // Füge hier weitere Eigenschaften hinzu, die du extrahieren möchtest
        });
    });

    // Nun hast du eine Liste von JavaScript-Objekten, die die Informationen aus den "user-item"-Elementen enthalten
    workoutsList.forEach(workoutItem => {
        completeTime += workoutItem.duration;
    })
    console.log(workoutsList);
    console.log(completeTime);
    time.textContent = completeTime/60+"min";



    let isZoomed = false;

    videoContainer.addEventListener('click', () => {
        togglePlay();
    });

    function togglePlay() {
        if (video.paused) {
            video.play();
            playButton.style.display = 'none';
        } else {
            video.pause();
            playButton.style.display = 'block';
        }
    }

    function scrollToTop() {
        window.scrollTo({
            top: 0,
            behavior: 'smooth'
        });
    }



    function viewVideo(videoPath) {
        scrollToTop();
        // Neue Videoquelle hinzufügen
        var source = document.createElement('source');
        source.src = videoPath;
        source.type = 'video/mp4';

        // Alte Quelle entfernen und neue hinzufügen
        video.innerHTML = ''; // leert den Video-Container
        video.appendChild(source);

        videoContainer.style.visibility = 'visible';
        video.load();
        togglePlay();
    }


    function hideVideo() {
        videoContainer.style.visibility = 'hidden';
    }

    window.onload = function () {
        let instructionInt = "{{int}}";
        console.log(instructionInt);
        if (instructionInt == 0) {
            var defaultNackenElement = document.querySelector('.text-button-mr'); // Same buttons as in add exercies. mr = element 1 from left and so on

            if (defaultNackenElement !== null) {
                defaultNackenElement.classList.add('active');
            }

            lastSelectedNumber = '.text-button-mr';
        }
        if (instructionInt == 1) {
            var defaultNackenElement = document.querySelector('.text-button-mr'); // Same buttons as in add exercies. mr = element 1 from left and so on

            if (defaultNackenElement !== null) {
                defaultNackenElement.classList.add('active');
            }

            lastSelectedNumber = '.text-button-mr';
        }
        if (instructionInt == 2) {
            var defaultNackenElement = document.querySelector('.text-button-bauch');

            if (defaultNackenElement !== null) {
                defaultNackenElement.classList.add('active');
            }

            lastSelectedNumber = '.text-button-bauch';
        }
        if (instructionInt == 3) {
            var defaultNackenElement = document.querySelector('.text-button-ur');

            if (defaultNackenElement !== null) {
                defaultNackenElement.classList.add('active');
            }

            lastSelectedNumber = '.text-button-ur';
        }


    };

    function setSelected(number, buttonClass) {
        // Überprüfe, ob das Element existiert, bevor du darauf zugreifst
        var currentSelectedElement = document.querySelector(buttonClass);
        if (currentSelectedElement !== null) {
            // Überprüfe, ob die Klasse vorhanden ist, bevor du sie hinzufügst
            if (!currentSelectedElement.classList.contains('active')) {
                currentSelectedElement.classList.add('active');
            } else {
                // Wenn das Element bereits aktiv ist, entferne die 'active'-Klasse
                currentSelectedElement.classList.remove('active');
            }
        }
        if (lastSelectedNumber !== null) {
            document.querySelector(lastSelectedNumber).classList.remove('active');
        }

        lastSelectedNumber = buttonClass;


    }

    function mrSelectedSetzen(userId) {
        firstSelectedNumber = 2;
        setSelected(2, '.text-button-mr');
        let formedData = new FormData();
        let csrf_token = "{{csrf_token}}";
        formedData.append("csrfmiddlewaretoken", csrf_token);
        formedData.append("id", userId);
        formedData.append("int", 1);
        fetch("post-user-instruction-int/", {
            headers: {
                'X-CSRFToken': csrf_token,
            },
            method: "POST",
            body: formedData
        });
    }

    function bauchSelectedSetzen(userId) {
        firstSelectedNumber = 3;
        setSelected(3, '.text-button-bauch');
        let formedData = new FormData();
        let csrf_token = "{{csrf_token}}";
        formedData.append("csrfmiddlewaretoken", csrf_token);
        formedData.append("id", userId);
        formedData.append("int", 2);
        fetch("post-user-instruction-int/", {
            headers: {
                'X-CSRFToken': csrf_token,
            },
            method: "POST",
            body: formedData
        });
    }

    function urSelectedSetzen(userId) {
        firstSelectedNumber = 4;
        setSelected(4, '.text-button-ur');
        let formedData = new FormData();
        let csrf_token = "{{csrf_token}}";
        formedData.append("csrfmiddlewaretoken", csrf_token);
        formedData.append("id", userId);
        formedData.append("int", 3);

        fetch("post-user-instruction-int/", {
            headers: {
                'X-CSRFToken': csrf_token,
            },
            method: "POST",
            body: formedData
        });
    }

    function postUserInstruction(id) {
        let inputData = document.getElementById("instruction-input").value
        let formedData = new FormData();
        let token = "{{csrf_token}}";
        formedData.append("csrfmiddlewaretoken", token);
        formedData.append("instruction", inputData);

        fetch("post-user-instruction/" + id + "/", {
            headers: {
                'X-CSRFToken': token,
            },
            method: "POST",
            body: formedData
        });
    }

    function postUserMail(id) {
        let inputData = document.getElementById("mail-input").value
        let formedData = new FormData();
        let token = "{{csrf_token}}";
        formedData.append("csrfmiddlewaretoken", token);
        formedData.append("mail", inputData);

        fetch("post-user-mail/" + id + "/", {
            headers: {
                'X-CSRFToken': token,
            },
            method: "POST",
            body: formedData
        });
    }

    function moveUp(exerciseId) {
        let formedData = new FormData();
        let csrf_token = "{{csrf_token}}";
        formedData.append("csrfmiddlewaretoken", csrf_token);
        formedData.append("exercise_id", exerciseId);

        fetch('{{users.id}}' + '/' + 'move-up/', {
            method: 'POST',
            headers: {
                'X-CSRFToken': csrf_token
            },
            body: formedData

        });
        window.location.reload();
    }

    function moveDown(exerciseId) {
        let formedData = new FormData();
        let csrf_token = "{{csrf_token}}";
        formedData.append("csrfmiddlewaretoken", csrf_token);
        formedData.append("exercise_id", exerciseId);

        fetch('{{users.id}}' + '/' + 'move-down/', {
            method: 'POST',
            headers: {
                'X-CSRFToken': csrf_token
            },
            body: formedData  // Füge den body mit den Daten hinzu
        });
        window.location.reload();
    }


    function fetchSession() {
        let formedData = new FormData();
        let csrf_token = "{{csrf_token}}";
        formedData.append("csrfmiddlewaretoken", csrf_token);
        fetch('', {
            method: 'POST',
            headers: {
                'X-CSRFToken': csrf_token
            },

        });
    }

    var line = document.getElementById('line');
    var labels = JSON.parse('{{labels}}');
    var indexes = JSON.parse('{{userIndexes}}');
    var workoutDates = JSON.parse('{{workoutDates|escapejs}}');
    var lastMeetData = JSON.parse('{{lastMeet|escapejs}}'); // EEEEEEEEEEEEEEERRRRRRRRRRRRRRRRRROR

    function lastMeet(year, month, day) {
        var date = new Date(year, month, day + 1); // month is zero-based in JavaScript Date
        var formattedDate = date.toISOString().split('T')[0]; // Format as 'YYYY-MM-DD'

        // Compare formatted dates as strings

        console.log(lastMeetData);
        console.log(formattedDate)
        return formattedDate === lastMeetData;
    }





    stringLabels = labels.map(function (item) {
        if (item == 1) {
            return "Januar";
        }
        if (item == 2) {
            return "Februar";
        }
        if (item == 3) {
            return "März";
        }
        if (item == 4) {
            return "April";
        }
        if (item == 5) {
            return "Mai";
        }
        if (item == 6) {
            return "Juni";
        }
        if (item == 7) {
            return "Juli";
        }
        if (item == 8) {
            return "August";
        }
        if (item == 9) {
            return "September";
        }
        if (item == 10) {
            return "Oktober";
        }
        if (item == 11) {
            return "November";
        }
        if (item == 12) {
            return "Dezember";
        }

        return "";
    });
    var url = "https://dashboardlaxout.eu.pythonanywhere.com/laxout/show-login-code/{{users.user_uid}}";

    // Erstelle den QR-Code
    var qrcode = new QRCode(document.getElementById("qrcode"), {
        text: url,
        width: 128,
        height: 128
    });

    function makeVisible(cssId) {
        element = document.getElementById(cssId);
        element.style.visibility = 'visible';
    }


    function addExercises(id) {
        window.location.href = "add-exercises/" + id;
    }

    function toggleEditMode(workoutName) {
        const executionTextarea = document.getElementById(workoutName);
        if (executionTextarea) {
            executionTextarea.readOnly = !executionTextarea.readOnly;
            executionTextarea.focus();
        }
    }

    function refreshWorkout(cssId, newDauer, cssId2, userId) {
        const executionTextarea = document.getElementById(cssId);
        const inputDauer = document.getElementById(cssId2);
        document.getElementById(cssId2 + "id").style.visibility = 'hidden';
        let execution = executionTextarea.value;
        let dauer = inputDauer.value;
        let formedData = new FormData();
        let token = "{{csrf_token}}";
        formedData.append("csrfmiddlewaretoken", token);
        formedData.append("execution", execution);
        formedData.append("dauer", dauer);
        formedData.append("id", cssId2);
        formedData.append("userId", userId)
        fetch("edit-user-workout/", {
            headers: {
                'X-CSRFToken': token,
            },
            method: "POST",
            body: formedData
        });
    }

    function deleteWorkout(workoutId, userId) {
        let formedData = new FormData();
        let token = "{{csrf_token}}";
        formedData.append("csrfmiddlewaretoken", token);
        formedData.append("id", workoutId);
        formedData.append("userId", userId)
        fetch("delete-user-workout/", {
            headers: {
                'X-CSRFToken': token,
            },
            method: "POST",
            body: formedData
        });
        window.location.reload();
    }

    new Chart(line, {
        type: 'line',
        data: {
            labels: stringLabels,
            datasets: [{
                label: 'Leistungsindex',
                data: indexes,
                borderWidth: 6,
                borderColor: 'rgb(44, 67, 81)',
            }]
        },


    });

    const better = "{{better}}";
    const worse = "{{worse}}";
    console.log("better");
    console.log(better);
    const donut = document.getElementById('dougnutChart');
    new Chart(donut, {
        type: 'doughnut',
        data: {
            labels: [
                'besser',
                'schlechter',
            ],
            datasets: [{
                label: 'My First Dataset',
                data: [better, worse],
                backgroundColor: [
                    'rgb(98, 138, 160)',
                    'rgb(44, 67, 81)',
                ],
                hoverOffset: 4
            }]
        },
        options: {
            layout: {
                padding: {
                    left: 50,
                    top: 50,
                    right: 50,
                    bottom: 50
                }
            }
        }
    })

    function getMonthName(monthIndex) {
        const monthNames = ["Januar", "Februar", "März", "April", "Mai", "Juni", "Juli", "August", "September", "Oktober", "November", "Dezember"];
        return monthNames[monthIndex];
    }


    document.addEventListener("DOMContentLoaded", function () {
        const calendarContainer = document.getElementById("calendar");
        const prevMonthButton = document.getElementById("prevMonth");
        const nextMonthButton = document.getElementById("nextMonth");
        const displayDate = document.getElementById("display-date");

        let currentMonth = new Date().getMonth();
        let currentYear = new Date().getFullYear();

        // Function to get exercise data for a specific day
        function getExerciseData(year, month, day) {
            // Check if the date (year, month, day) is in the workoutDates list
            const currentDate = new Date(year, month, day);
            return workoutDates.some(date => {
                const workoutDate = new Date(date);
                return (
                    workoutDate.getFullYear() === currentDate.getFullYear() &&
                    workoutDate.getMonth() === currentDate.getMonth() &&
                    workoutDate.getDate() === currentDate.getDate()
                );
            });
        }

        // Function to update the calendar
        function updateCalendar() {
            // Clear existing calendar
            calendarContainer.innerHTML = "";
            displayDate.innerHTML = "";
            displayDate.textContent = getMonthName(currentMonth) + " " + currentYear;

            // Create header row with day names
            const dayNames = ["So", "Mo", "Di", "Mit", "Don", "Fr", "Sa"];
            dayNames.forEach(dayName => {
                const dayElement = document.createElement("div");
                dayElement.classList.add("day");
                dayElement.textContent = dayName;
                calendarContainer.appendChild(dayElement);
            });

            const daysInMonth = new Date(currentYear, currentMonth + 1, 0).getDate();
            const firstDayOfMonth = new Date(currentYear, currentMonth, 1).getDay();

            // Create calendar cells
            for (let day = 1; day <= daysInMonth + firstDayOfMonth; day++) {
                const dayElement = document.createElement("div");
                dayElement.classList.add("day");

                if (day > firstDayOfMonth) {
                    dayElement.textContent = day - firstDayOfMonth;

                    // mark last session date
                    const isLastMeet = lastMeet(currentYear, currentMonth, day - firstDayOfMonth);
                    if (isLastMeet) {
                        dayElement.classList.add("lastMeet");
                    } else {
                        // Check if exercise is done for the current day
                        const isExerciseDone = getExerciseData(currentYear, currentMonth, day - firstDayOfMonth);
                        if (isExerciseDone) {
                            dayElement.classList.add("done");
                        }
                    }

                    // Highlight today's date
                    const today = new Date();
                    if (day - firstDayOfMonth === today.getDate() && currentMonth === today.getMonth() && currentYear === today.getFullYear()) {
                        dayElement.classList.add("today");
                    }
                }
                calendarContainer.appendChild(dayElement);
            }

        }

        // Initial calendar update
        updateCalendar();

        // Event listeners for navigation buttons
        prevMonthButton.addEventListener("click", function () {
            currentMonth--;
            if (currentMonth < 0) {
                currentMonth = 11;
                currentYear--;
            }
            updateCalendar();
        });

        nextMonthButton.addEventListener("click", function () {
            currentMonth++;
            if (currentMonth > 11) {
                currentMonth = 0;
                currentYear++;
            }
            updateCalendar();
        });
    });

    //Chart 
    var indexes_labels = JSON.parse('{{index_labels}}');
    var zero_two_pain = JSON.parse('{{ zero_two_pain|safe }}');
    var three_five_pain = JSON.parse('{{three_five_pain}}');
    var six_eight_pain = JSON.parse('{{six_eight_pain}}');
    var nine_ten_pain = JSON.parse('{{nine_ten_pain}}');
    const ctx = document.getElementById('myChart');

    indexes_labels_strings = indexes_labels.map(function (item) {
        if (item == 1) {
            return "Januar";
        }
        if (item == 2) {
            return "Februar";
        }
        if (item == 3) {
            return "März";
        }
        if (item == 4) {
            return "April";
        }
        if (item == 5) {
            return "Mai";
        }
        if (item == 6) {
            return "Juni";
        }
        if (item == 7) {
            return "Juli";
        }
        if (item == 8) {
            return "August";
        }
        if (item == 9) {
            return "September";
        }
        if (item == 10) {
            return "Oktober";
        }
        if (item == 11) {
            return "November";
        }
        if (item == 12) {
            return "Dezember";
        }

        return "";
    })

    new Chart(ctx, {
        type: 'bar',
        data: {
            labels: indexes_labels_strings,
            datasets: [{
                label: 'Wohlbefinden 0-2',
                data: zero_two_pain,
                borderWidth: 1,
                backgroundColor: "#2c4350"
            },
            {
                label: 'Wohlbefinden 3-5',
                data: three_five_pain,
                borderWidth: 1,
                backgroundColor: "#628AA0"
            },
            {
                label: 'Wohlbefinden 6-8',
                data: six_eight_pain,
                borderWidth: 1,
                backgroundColor: "#3E4950"
            },
            {
                label: 'Wohlbefinden 9-10',
                data: nine_ten_pain,
                borderWidth: 1,
                backgroundColor: "#232628"
            },

            ]
        },
        options: {
            scales: {
                y: {
                    beginAtZero: true
                }
            }
        }
    });

</script>


{% endblock content %}